.hero {
      height: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
      color: #FAFAFA
    }
    .product-card img {
      height: 180px;
      object-fit: cover;
    }
